.introducao-bg {
    background: var(--cor-12) url(../../img/dec/bottom-left.svg) no-repeat bottom 160px left 40px; /*decoração de imagem de fundo sem repetição na posição baixo esquerda, recuo de 160px para cima e 40px pra direita*/
    color: var(--cor-00);
    box-shadow: inset 0 -120px var(--cor-00); /*sombra interna "inset" com 0 no eixo x e -120px no eixo y, na cor branca*/
  }
  
  .introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
  }
  
  .introducao-conteudo {
    align-self: end;
    padding-bottom: 200px; /*originalmente em 80px, passou pra 200px para compensar a sombra de -120px no efeito da imagem vazada*/
  }
  
  .introducao img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .introducao h1 {
    margin-bottom: 2rem;
  }
  
  .introducao p {
    margin-bottom: 20px;
    color: var(--cor-05);
  }

  /*media query*/
  
  @media (max-width: 1200px) {
  .introducao-bg {
    padding-top: 40px;
    background-color: var(--cor-11);
    box-shadow: inset 0 -60px var(--cor-00);
    }
  }
  
  @media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  
  .introducao img {
    height: 300px;
    width: 100%;
  }
  }